
.group{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.group .type{ 
    margin-right: 10px;
    font-size: 17px; 
    line-height: 38px;
    font-weight: bold;
}
.group .badges{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.group .badges .badge{
    margin-right: 10px;
    padding: 2px 5px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 14px; 
} 

.pj{
    margin: 1rem 1rem 3rem;
    font-size: 15px;
}
.pj .pj_title{
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}
.pj .pj_content{
    
}
.pj .category{
    display: block;
    font-weight: bold;
}
.sub_title{
    font-size: 17px;
    font-weight: bold;
    line-height: 25px;
}

/* .section{
    padding: 3rem 5rem;
}

.section .header{
    position: relative;
    padding: 1rem 0 3rem;
    text-align: center;
}

.section .header .title{
    font-size: 25px;
    line-height: 40px;
    
}

.section .header .subtitle{
    font-size: 15px;
    list-style: 20px;
    color: rgb(121, 123, 125);
}

.section .box{
    position: relative;
    width: 100%;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 50px;

}

.section .box_title{
    font-size: 17px;
    line-height: 30px;
    color: #000;
    font-weight: bold;
}


.section .box_cotent{
    line-height: 30px;
}

.section .box_cotent span{
    font-weight: bold;
} */