.section{
 padding: 3rem 5rem;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 89vh;
}
.content .txt{
  padding-bottom: 20px;
}
.content .txt,.content .txt2{
    text-align: center;
    font-size: 5em;
    line-height: 5rem;
  }