.section{
    padding: 3rem 5rem;
}

.section .header{
    position: relative;
    padding: 1rem 0 3rem;
    text-align: center;
}

.section .header .title{
    font-size: 25px;
    line-height: 40px;
    
}

.section .header .subtitle{
    font-size: 15px;
    list-style: 20px;
    color: rgb(121, 123, 125);
}

.section .box{
    position: relative;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 50px;

}
.section .box .box_content>div{
    margin-bottom: 20px;
}
.section .box .box_content .name{
    position: relative;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 40px;
}

.section .box .box_content  .box_col_1{
    display: flex;
    flex-direction: column;
}

.section .box .box_content .box_row_2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.section .box .box_content .box_row_2 div{
    width: 50%;
    height: 40px;
    font-size: 14px;
}
.section .box .box_content .box_row_2 .icon{
    width: 25px;
    height: 25px;
    margin-right: 20px;
}

.section .box_title{
    margin-bottom: 15px;
    text-align: left;
    text-indent: 25px;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    color: #000;
}


.section .box_content{
    line-height: 30px;
}

.section .box_cotent span{
    font-weight: bold;
}

@media all and (min-width:1024px) { 
    .section{
        padding: 3rem 5rem;
    }
}

@media all and (min-width:768px) and (max-width:1023px) {
    .section{
        padding: 2rem;
    }
    
}

@media all and (max-width:599px) {
    .section{
        padding: 1rem;
    }

    .section .box .box_content .box_row_2{
        flex-direction: column;
    }
    .section .box .box_content .box_row_2 div{
        width: 100%;
        height: 40px;
    }
}