*{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
}

.container{
  position: relative;
  width: 100%;
}

.header{
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  background-color: #fff; 
  z-index: 100;
}

.header .logo{
  max-width: 200px;
  padding: 15px 30px;
  color: #454343;
  line-height: 20px;
  font-size: 1.3rem;
  font-weight: 800;
  cursor: pointer;

}

.header .nav{
  display: flex;
  flex-direction: row;
  justify-self: center;
  justify-items: center;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.header .nav .item{
  padding: 15px 30px;
  cursor: pointer;
}

.article{
  position: relative;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;
}
/*
.content {
  position: relative;
  margin: 0 auto;
  padding: 15px 0;
  /*border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
   min-height: 100vh; 
  font-size: calc(10px + 2vmin);
}


.gradient{
  position: relative;
  margin: 0 auto;
}


.title{
  position: relative;
  text-align: center;
  font-weight: 100;
  font-size: 17vh;
  vertical-align: middle;

}

.intro.title{
  line-height: 30vh;
  font-size: 23vh;
}
*/
.footer{
  position: relative;
  width: 100%;
  height: 50px;
  border-top: 1px solid #ddd;
} 

.footer .text_centered{
  text-align: center;
  padding-top: 1rem;
}


@media all and (min-width:1024px) { 

}

@media all and (min-width:768px) and (max-width:1023px) {

}

@media all and (max-width:599px) {
  .header .logo{
    padding: 15px 16px;
    font-size: 1rem;
  }

  .header .nav .item{
    padding: 15px 12px;
    cursor: pointer;
  }
}
